---
import {version} from "../../package.json";
import {siteConfig} from "../config";
const date = new Date();
---

<footer class="mt-auto bg-base transition-all h-16 shrink-0 py-2">
    <div class="container-global text-secondary text-sm flex flex-col justify-center h-full">
        <div>&copy; {date.getFullYear()} {siteConfig.author}</div>
    </div>
</footer>